/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Raleway', sans-serif;

}

img {
  vertical-align: middle;

}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
  overflow: auto;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  display: block;
  text-decoration: none;
  padding:10px;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
/*encabezado*/
header{
  /*posicionado de manera fija*/
  position: fixed;
  background-color: white;
  width: 100%;
  /*se posiciona desde el inicio*/
  top:0;
}

ul{
  /*quita las viñetas*/
  list-style: none;
  /*quitar espacio de lado izquierdo*/
  margin: 0;
  padding: 0;
  /*color de fondo*/
  background:white;
  /*espacio de cada item*/
  line-height: 40px;
  /*le devuelve al elemento contenedor para que vuelva a ser bloque*/
  overflow: auto;
  }

li{
  padding: 0;
  /*outline: 1px solid green;*/
  width: 100px;
  text-align: center;
  /*sale del contenedor y no se ve, se debe de incorporar overflow*/
  float:left;
}
.container img{
  /*la imagen se ubica a la derecha*/
  float: right;
  width: 60px;
}

/*primera seccion*/
#first-block{
  /*fondo con imagen*/
  background-image: url(../assets/images/bg-home.jpg);
  /*se aplica para que se posicione debajo del encabezado*/
  margin-top: 60px;
  /*altura*/
  height: 519px;
}
#first-block .container{
  text-align: center;
  color: white;
}
/*titulo de la primera seccion*/
#first-block h1{
  font-size: 60px;
  margin: 0px;
}
#first-block h2{
  /*se ubica no tan cerca de la parte superior*/
  margin-top: 100px;
}
#first-block p{
  /*se aplica para que se ubique en el medio*/
  margin-top: 0px;
  margin-bottom: 70px;
}

/*boton*/
button{
  background-color: #2ECC71;
  padding: 10px 20px 10px 20px;
  color: white;
  border: 1px solid  #2ECC71;
}

/*segunda seccion*/
#second-block{
  background-color: #f17c72;
  /*outline: 1px solid black;*/
  padding-top: 1px;
  color: white;
  font-size: 18px;
}
/*centra el título y su parráfo*/
#second-block h2,#second-block h4{
  text-align: center;
}
/*convierte a mayuscula*/
#second-block h2,h5{
  text-transform: uppercase;
}
.box1{
  /*outline: 1px solid black;*/
  display: inline-block;
  text-align: center;
  line-height: 0;
  /*espaciado a la izquierda*/
  margin-left: 140px;
}

.box1 img{
  /*ancho de la imagen*/
  width: 250px;
}

/*tercera seccion*/
#third-block img{
  width: 60%;
  margin-left: 260px;
}

#third-block h2, #third-block h4{
  text-align: center;
}

/*cuarta seccion*/
#fourth-block img{
  width: 100%;
}

#fourth-block p{
  text-align: center;
  margin-top: 10px;

}
/*contenedor de la imagen y parráfo*/
.box2{
  /* outline: 1px solid red;*/
  /*posicina a los elementos en una linea pero se mantiene en un bloque*/
  display: inline-block;
  width: 320px;
  /*espaciado de derecha a izquierda*/
  margin-left: 120px;
  margin-right: -50px;
}

/*pie de pagina*/
footer{
  background-color:#373b47;
  padding: 10px;
  /*espaciado entre la cuarta sección y el pie de página*/
  margin-top: 100px;
  text-align: center;
  color: white;
}
